<div class="tweet">
    <span> 
        <a href="http://www.weibo.com/{{ tweet.user_id }}" target="_blank">
            <img class="thumbnail" ng-src="{{ tweet.profile_image_url }}" />
        </a>
    </span>

    <a tooltip-placement="bottom" tooltip="click to visit Weibo profile"
       href="http://www.weibo.com/{{ tweet.user_id }}" target="_blank">
        <span class="username" ng-bind="tweet.user_name"></span>
    </a>
    <span class="username_screen">&#64;{{tweet.user_name}}</span>
    <div class="pull-right timeInterval">{{tweet.datetime | fromNow }} </div>
    <div class="tweettext">
        <div ng-bind-html-unsafe="tweet.htmlText"></div>
        <div ng-if="tweet.user_followers_count" class="pull-left timeInterval">{{tweet.user_followers_count | numberFormat}} followers</div>
        <div ng-show="tweet.retweeted_status" class="pull-right timeInterval">
            {{tweet.retweeted_status }} reposts</div>
    </div>
</div>
